<h2>Vehicles:</h2>
<ul>
    <% @vehicles.each do |vehicle|%>
        <% if vehicle.user_id == current_user.id %>
            <li><a href="/vehicles/<%= vehicle.id %>"> <%= vehicle.vin %> </a> </li>
        <% else %>
            <li><%= vehicle.vin %></li>
        <% end %>
        <li><%= vehicle.model %></li>
        <li><%= vehicle.sub_model %></li>
        <li><%= vehicle.location.station %></li>
        <li><%= vehicle.current_location_duration %></li>
        <li><%= vehicle.total_duration %></li>
        <li><%= vehicle.arrival_time %></li>
        <li><%= vehicle.departure_time %></li>
        <br>
    <%end%>
</ul>