<h3>Create a New Vehicle</h3>
<form action="/vehicles" method="POST">
    <label>Vehicle Vin:</label>
    <input type="text" name="vehicle[vin]" value="<%= @vehicle.vin %>"><br>
    <label>Vehicle Model:</label>
    <input type="text" name="vehicle[model]" value="<%= @vehicle.model %>"><br>
    <label>Vehicle Sub-Model:</label>
    <input type="text" name="vehicle[sub_model]" value="<%= @vehicle.sub_model %>"><br>
    <label>Vehicle Location:</label>
    <select name="vehicle[location_id]" id=""vehicle[location_id]">
      <% @locations.each do |location| %>
        <option value="<%= location.id %>"><%= location.id %> <%= location.building %> <%= location.station %></option>
      <% end %>
    </select><br>  
    <input type="submit" value="Create New Vehicle">
</form>