<h2>Vehicle:</h2>

<h4> <%= @vehicle.vin %></h4>
<h4> <%= @vehicle.model %></h4>
<h4> <%= @vehicle.sub_model %></h4>
<h4> <%= @vehicle.location %></h4>
<h4> <%= @vehicle.current_location_duration %></h4>
<h4> <%= @vehicle.total_duration %></h4>
<h4> <%= @vehicle.arrival_time %></h4>
<h4> <%= @vehicle.departure_time %></h4>
