<h1>Update Location <%= @location.id %>:</h1>

  <form action="/locations/<%= @location.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit the Location's Station:</label>
    <input type="text" name="location[station]" value="<%= @location.station %>"><br>
    <label>Edit the Location's Building:</label>
    <input type="text" name="location[building]" value="<%= @location.building %>">
    <br>
    Total Vehicles at <%= @location.station %>: <%= @location.total_vehicles %><br>
    Average Duration at <%= @location.station %>: <%= @location.avg_duration %><br>

    <input type="submit" value="Update Location">
  </form>